@model IEnumerable<Ecommerce.Model.Category>
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>


<a asp-action="Create" asp-controller="Category">Yeni Ürün</a>
<table class="table table-striped table-hover table-bordered">

    <tr>
        <th>Ad</th>
        <th>Açıklama</th>
        <th>Eylemler</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            @*<td><a href="/Product/Detay/@item.Id">@item.Name</td>*@
            <td><a asp-controller="Category" asp-action="Detay" asp-route-id="@item.Id">@item.Name</a></td>
            <td>@item.Description</td>
            <td>
                <a asp-controller="Category" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                <a asp-controller="Category" asp-action="Delete" asp-route-id="@item.Id" onclick="return confirm('Bu kaydı silmel istediginize emin misniz?');">Delete</a>
            </td>

        </tr>

    }



</table>